.video-card-container {
	background-color: var(--nav-bg-color);
	border-radius: 1rem;
	height: 30rem;
	width: 35rem;
}

.thumbnail-container {
	cursor: pointer;
	height: 20rem;
	position: relative;
}

.thumbnail-container > img {
	width: 100%;
	height: 100%;
	border-radius: 1rem 1rem 0 0;
}

.thumbnail-container > .timestamp {
	font-size: 1.4rem;
	font-weight: 700;
	color: var(--white-color);
	background-color: var(--nav-bg-color);
	position: absolute;
	bottom: 2%;
	right: 3%;
	width: fit-content;
	padding: 0.2rem 0.5rem;
}

.video-info-container {
	display: flex;
	height: 10rem;
	padding: 1.5rem 1rem;
	position: relative;
}

.video-info-container > img {
	width: 50px;
	height: 50px;
}

.video-info {
	width: 100%;
}

.video-title {
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--white-color);
	font-family: "Roboto", sans-serif;
	margin-bottom: 0.4rem;
}

.video-details {
	margin-top: 0.2rem;
}

.video-details > h6 {
	font-size: 1.5rem;
	color: var(--light-white-color);
}

.video-details > span {
	font-size: 1.4rem;
	font-weight: 700;
	color: var(--light-white-color);
}

.video-details {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.fa-ellipsis-vertical {
	margin-left: 1rem;
	cursor: pointer;
}

.modal-container {
	background-color: var(--search-border-color);
	position: absolute;
	top: 35%;
	right: 3%;
	padding: 1rem;
	border-radius: 0.5rem;
}

.modal-container > li {
	font-size: 1.6rem;
	color: var(--white-color);
	cursor: pointer;
}

@media screen and (max-width: 1440px) {
	.video-title {
		font-size: 1.6rem;
	}
}

@media screen and (max-width: 768px) {
	.thumbnail-container {
		height: 20rem;
	}

	.video-info-container {
		height: 10rem;
	}
}

@media screen and (max-width: 375px) {
	html {
		font-size: 55%;
	}
}
@media screen and (max-width: 320px) {
	html {
		font-size: 47%;
	}
}
