.video-card-container {
	background-color: var(--nav-bg-color);
	cursor: pointer;
}

.thumbnail-container {
	height: 30rem;
}

.thumbnail-container > img {
	width: 100%;
	height: 100%;
}

.video-info-container {
	display: flex;
	height: 10rem;
	padding: 2rem 1rem;
}

.video-info-container > img {
	width: 50px;
	height: 50px;
}

.video-info {
	width: 100%;
}

.video-title {
	font-size: 2.2rem;
	font-weight: 500;
	color: var(--white-color);
	font-family: "Roboto", sans-serif;
}

.video-details {
	margin-top: 0.2rem;
}

.video-details > h6 {
	font-size: 1.7rem;
	color: var(--light-white-color);
}

.video-details > span {
	font-size: 1.6rem;
	color: var(--light-white-color);
}

.video-details {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
